@model UpdateBlogDto
@{
    ViewData["Title"] = "Blog Güncelleme Sayfasi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="CreatedDate" />
    <input type="hidden" asp-for="BlogWriterId" />
    <label>Blog Kategorisi</label>
    <select asp-items="@ViewBag.blogCategories" asp-for="BlogCategoryId" class="form-control">
        <option>Kategori Secin</option>
    </select>
    <span asp-validation-for="BlogCategoryId" class="text-danger"></span>
    <br />
    <label>Blog Basligi</label>
    <input type="text" asp-for="Title" class="form-control" />
    <span asp-validation-for="Title" class="text-danger"></span>
    <br />
    <label>Blog Resim Url</label>
    <input type="text" asp-for="ImageUrl" class="form-control" />
    <span asp-validation-for="ImageUrl" class="text-danger"></span>
    <br />
    <label>Blog Icerigi</label>
    <textarea asp-for="Content" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Content" class="text-danger"></span>
    <br />

    <label>Blog Aktiflik Durumu</label>
    <br/>
    <input type="checkbox" asp-for="IsShown" />
    <label class="custom-control-label" >Blog Gösterilsin</label>
    <br />
    <br />

    <button class="btn btn-outline-primary">Güncelle</button>
</form>

