@model UpdateBlogCategoryDto
@{
    ViewData["Title"] = "Blog Kategori Güncelleme Sayfasi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Blog Kategori Adi</label>
    <input type="text" asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    <br />

    <button class="btn btn-outline-primary">Güncelle</button>
</form>

