@model UpdateAboutDto
@{
    ViewData["Title"] = "Hakkinda Güncelleme Sayfasi";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<form method="post">
    <input type="hidden" asp-for="Id" />
    <label>Aciklama</label>
    <textarea asp-for="Description" class="form-control" rows="5"></textarea>
    <span asp-validation-for="Description" class="text-danger"></span>
    <br />
    <label>Resim Url 1</label>
    <input type="text" asp-for="ImageUrl1" class="form-control" />
    <span asp-validation-for="ImageUrl1" class="text-danger"></span>
    <br />
    <label>Resim Url 2</label>
    <input type="text" asp-for="ImageUrl2" class="form-control" />
    <span asp-validation-for="ImageUrl2" class="text-danger"></span>
    <br />
    <label>Madde 1</label>
    <input type="text" asp-for="Item1" class="form-control" />
    <span asp-validation-for="Item1" class="text-danger"></span>
    <br />
    <label>Madde 2</label>
    <input type="text" asp-for="Item2" class="form-control" />
    <span asp-validation-for="Item2" class="text-danger"></span>
    <br />
    <label>Madde 3</label>
    <input type="text" asp-for="Item3" class="form-control" />
    <span asp-validation-for="Item3" class="text-danger"></span>
    <br />
    <label>Madde 4</label>
    <input type="text" asp-for="Item4" class="form-control" />
    <span asp-validation-for="Item4" class="text-danger"></span>
    <br />
    <button class="btn btn-outline-primary">Güncelle</button>
</form>

