@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/UILayout/layout.cshtml";
}

<!--? slider Area Start-->
@await Component.InvokeAsync("_HomeBannerComponent")
<!-- slider Area End-->
<!--? Categories Area Start -->
@await Component.InvokeAsync("_HomeCourseCategoryComponent")
<!-- Categories Area End -->
<!--? Count Down Start -->
@await Component.InvokeAsync("_HomeCounterComponent")
<!-- Count Down End -->
<!--? Popular Course Start -->
@await Component.InvokeAsync("_HomeCourseComponent")
<!-- Popular Course End -->
<!--? Team Ara Start -->
<div class="team-area pt-160 pb-160 section-bg" data-background="/onlineedu-master/assets/img/gallery/section_bg02.png">
    <div class="container">
        <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-70">
                    <span>More About Our Faculty</span>
                    <h2>Our Best Teachers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="~/onlineedu-master/assets/img/gallery/team1.png" alt="">
                        <!-- Blog Social -->
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-caption">
                        <h3><a href="instructor.html">Alexa Janathon</a></h3>
                        <p>Faculty</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="~/onlineedu-master/assets/img/gallery/team2.png" alt="">
                        <!-- Blog Social -->
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-caption">
                        <h3><a href="instructor.html">Janathon Smith</a></h3>
                        <p>Faculty</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="~/onlineedu-master/assets/img/gallery/team3.png" alt="">
                        <!-- Blog Social -->
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-caption">
                        <h3><a href="instructor.html">Alexa MacCalum</a></h3>
                        <p>Faculty</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="~/onlineedu-master/assets/img/gallery/team4.png" alt="">
                        <!-- Blog Social -->
                        <ul class="team-social">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fas fa-globe"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-caption">
                        <h3><a href="instructor.html">Alexa j Watson</a></h3>
                        <p>Faculty</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Button -->
        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-70">
                    <a href="instructor.html" class="btn white-btn">View All Faculty</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team Ara End -->
<!--? About Law Start-->
@await Component.InvokeAsync("_HomeAboutComponent")
<!-- About Law End-->
<!--? Testimonial Start -->
@await Component.InvokeAsync("_HomeTestimonialComponent")
<!-- Testimonial End -->
<!--? Blog Area Start -->
@await Component.InvokeAsync("_HomeBlogComponent")
<!-- Blog Area End -->
